@media (max-width: 576px) {
.member-card{
    flex-direction: column-reverse !important;
}

.m-left-side {
  width: 100%;
  /* width: 960px; */
  height: 880px;
  /* outline: 1px red solid; */
}

.m-right-side {
  /* width: 600px; */
  width: 100%;
  height: 880px;
  pointer-events: none;
  /* outline: 1px red solid; */
}


}